// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.item_imgs {
  height: 150px;
  width: 100%;
  input[type='file'] {
    display: none;
  }
}
.previews {
  display: flex;
  height: 190px;
}
.preview{
  height: 150px;
  width: 120px;
  .img_box{
    height: 118px;
    width: 100%;
    display: flex;
    align-items: center;
    .preview_image{
      max-width: 120px;
      max-height: 118px;
      margin: 0 auto;
    }
  }
}